<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" href="/assets/icon.svg" type="image/x-icon">

    <title><%=title%></title>

</head>

<body>


    <header>
  
        <img src="/assets/signature.svg" alt="Jonta-Sancar">
      
        <nav>

            <select name="lang" id="lang-select"  oninput="redirect(this)">
                <option selected disabled>lang</option>
                <option id="pt" value="pt">Português</option>
                <option id="en" value="en">English</option>
            </select>
      
          <button id="burger" onclick="toggleMenu(this)">
            <span id="barr"></span>
          </button>
      
          <ul id="nav-ul">
      
            <li><a class="redirect active" href="/" target="_self" onclick="toActive(this)"><%=links[0]%></a></li>
      
            <li><a class="redirect" href="#projects" target="_self" onclick="toActive(this)"><%=links[1]%></a></li>
              
            <li><a class="redirect" href="https://www.linkedin.com/in/jonta-sancar/" target="_blank" onclick="toActive(this)"><%=links[2]%></a></li>
      
            <li><a class="redirect" href="https://github.com/Jonta-Sancar" target="_blank" onclick="toActive(this)"><%=links[3]%></a></li>
      
          </ul>
        </nav>
      
    </header>


    <main>
      <section id="home">
        
        <div class="content">
    
          <div id="slogam">
    
            <h1><%=h1[0]%><strong>Jonta Sancar</strong>, <%=h1[1]%><strong>Jonta</strong>.</h1>
    
            <br>
            <br>
    
            <p><%=p_slogam%></p>
    
          </div>
    
          <img id="signature" src="/assets/signature.svg" alt="Jonta-Sancar">
    
        </div>
    
        <div id="skills">
          
          <div class="skill">
    
            <img src="/assets/skills/html.svg" alt="html5">
    
            <h3>HTML5</h3>
          </div>
    
          <div class="skill">
    
            <img src="/assets/skills/css.svg" alt="css3">
    
            <h3>CSS3</h3>
          </div>
    
          <div class="skill">
    
            <img src="/assets/skills/js.svg" alt="javascript">
    
            <h3>JS</h3>
          </div>
    
          <div class="skill">
    
            <img src="/assets/skills/node.svg" alt="nodejs">
    
            <h3>NODE-JS</h3>
          </div>
        </div>
    
      </section>
    
      <section id="projects">
    
        <h2><%=projects.title%></h2>
          
        <ul>
    
          <li href="#front">
            <h4>Front</h4>

            
            <ul class="projects-list">
              
              <% for (let i = 0; i < projects.front.length; i++) {%>

                <li class="project">
                  <img src="/assets/projects/leading-page.png" alt="img">
        
                  <div>
                    <h4><%=projects.front[i].name%></h4>
                    
                    <br>
        
                    <a href="<%= projects.front[i].name%>"><%=projects.links[0]%></a>
        
                    <a href="<%=projects.front[i].name%>" target="_blank"><%=projects.links[1]%></a>
                  </div>
                </li>

              <% } %>

              <li class="project">
                <img src="/assets/projects/leading-page.png" alt="img">
      
                <div>
                  <h4><%=projects.front[0]%></h4>
                  
                  <br>
      
                  <a href="#"><%=projects.links[0]%></a>
      
                  <a href="https://jonta-sancar.github.io/leading-page-model/" target="_blank"><%=projects.links[1]%></a>
                </div>
              </li>
      
              <li class="project">
                <img src="/assets/projects/sorte-e-os-nums.png" alt="img">
      
                <div>
                  <h4><%=projects.front[1]%></h4>
                  
                  <br>
      
                  <a href="#"><%=projects.links[0]%></a>
      
                  <a href="https://jonta-sancar.github.io/sorte-e-os" target="_blank"><%=projects.links[1]%></a>
                </div>
              </li>
      
            </ul>
          </li>
      
          <li href="#back">Back</li>
      
          <li href="#full">
            
            <h4>Full</h4>
            
            <ul class="projects-list">
      
            <li class="project">
                <img src="/assets/projects/ALEATORIZE.png" alt="img">
      
                <div>
                  <h4><%=projects.full[0]%></h4>
                  
                  <br>
      
                  <a href="#"><%=projects.links[0]%></a>
      
                  <a href="https://sorteios.vercel.app" target="_blank"><%=projects.links[1]%></a>
                </div>
              </li>
      
            </ul>
          </li>
    
        </ul>
    
      </section>
    </main>
      
    <script src="/script/script.js"></script>
</body>

</html>
