<!DOCTYPE html>
<html lang="<%= lang %>">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style/style.css">
    <link rel="shortcut icon" href="/assets/icon.svg" type="image/x-icon">

    <title><%=title%></title>

</head>

<body>


    
  <%- include('partials/header', { links: fixed.links }) %>


    <main>
      <section id="home">
        
        <div class="content">
    
          <div id="slogam">
    
            <h1><%=h1[0]%><strong>Jonta Sancar</strong>, <%=h1[1]%><strong>Jonta</strong>.</h1>
    
            <br>
            <br>
    
            <p><%=p_slogam%></p>
    
          </div>
    
          <img id="signature" src="/assets/signature.svg" alt="Jonta-Sancar">
    
        </div>
    
        <div id="skills">
          
          <div class="skill">
    
            <img src="/assets/skills/html.svg" alt="html5">
    
            <h3>HTML5</h3>
          </div>
    
          <div class="skill">
    
            <img src="/assets/skills/css.svg" alt="css3">
    
            <h3>CSS3</h3>
          </div>
    
          <div class="skill">
    
            <img src="/assets/skills/js.svg" alt="javascript">
    
            <h3>JS</h3>
          </div>
    
          <div class="skill">
    
            <img src="/assets/skills/node.svg" alt="nodejs">
    
            <h3>NODE-JS</h3>
          </div>
        </div>
    
      </section>
    
      <section id="projects">
    
        <h2><%=projects.title%></h2>
          
        <ul id="staks">
    
          <li href="#front">
            <h4>Front</h4>

            
            <ul class="projects-list">
              
              <% for (let i = 0; i < projects.front.length; i++) {%>

                <li class="project">
                  <img src="<%= projects.front[i].img %>" alt="img">
        
                  <div>
                    <h4><%=projects.front[i].name%></h4>
                    
                    <br>
        
                    <a href="<%= projects.front[i].description %>/<%= lang %>"><%=projects.links[0]%></a>
        
                    <a href="<%=projects.front[i].url %>" target="_blank"><%=projects.links[1]%></a>
                  </div>
                </li>

              <% } %>

            </ul>

          </li>
      
          <li href="#back">

            <h4>Back</h4>

            
            <ul class="projects-list">
              
              <% for (let i = 0; i < projects.back.length; i++) {%>

                <li class="project">
                  <img src="<%= projects.back[i].img %>" alt="img">
        
                  <div>
                    <h4><%=projects.back[i].name%></h4>
                    
                    <br>
        
                    <a href="<%= projects.back[i].description %>/<%= lang %>"><%=projects.links[0]%></a>
        
                    <a href="<%=projects.back[i].url %>" target="_blank"><%=projects.links[1]%></a>
                  </div>
                </li>

              <% } %>

            </ul>

          </li>
      
          <li href="#full">
            
            <h4>Full</h4>
            
            <ul class="projects-list">
              
              <% for (let i = 0; i < projects.full.length; i++) {%>

                <li class="project">
                  <img src="<%= projects.full[i].img %>" alt="img">
        
                  <div>
                    <h4><%=projects.full[i].name%></h4>
                    
                    <br>
        
                    <a href="<%= projects.full[i].description %>/<%= lang %>"><%=projects.links[0]%></a>
        
                    <a href="<%=projects.full[i].url %>" target="_blank"><%=projects.links[1]%></a>
                  </div>
                </li>

              <% } %>
      
            </ul>
          </li>
    
        </ul>
    
      </section>
    </main>
      
    <script src="/script/script.js"></script>
</body>

</html>
